In [1]:
import pandas as pd

# Reading Book

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodypain  age  runnynose  diffbreath  infectionprob
0   99.788258         1   67          1          -1              1
1   99.865552         0   57          1          -1              0
2  100.663934         0   68          0           0              0
3  100.091532         0   49          0          -1              1
4   98.282663         1   10          1           1              1

In [4]:
df.tail()

           fever  bodypain  age  runnynose  diffbreath  infectionprob
2592   99.457938         1   42          1           1              1
2593   98.829693         1   68          0           1              0
2594   98.993580         0   54          1          -1              0
2595  101.536309         1   11          0           0              1
2596  100.262775         0   10          1           0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2597 entries, 0 to 2596
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2597 non-null   float64
 1   bodypain       2597 non-null   int64
 2   age            2597 non-null   int64
 3   runnynose      2597 non-null   int64
 4   diffbreath     2597 non-null   int64
 5   infectionprob  2597 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 121.9 KB

In [6]:
df['diffbreath'].value_counts()

 1    899
-1    866
 0    832
Name: diffbreath, dtype: int64

In [7]:
df.describe()

,fever,bodypain,age,runnynose,diffbreath,infectionprob
count,2597.000000,2597.000000,2597.000000,2597.000000,2597.000000,2597.000000
mean,99.995994,0.497882,35.524836,0.511744,0.012707,0.500578
std,1.158063,0.500092,20.254825,0.499958,0.824458,0.500096
min,98.000613,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.987718,0.000000,18.000000,0.000000,-1.000000,0.000000
50%,99.967024,0.000000,36.000000,1.000000,0.000000,1.000000
75%,101.007124,1.000000,53.000000,1.000000,1.000000,1.000000
max,101.997420,1.000000,70.000000,1.000000,1.000000,1.000000

# Train Test Splittting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([2, 0, 5, 6, 1, 3, 4])

In [11]:
train,test = data_split(df,0.2)

In [12]:
train

           fever  bodypain  age  runnynose  diffbreath  infectionprob
1376  100.120724         1   63          1           1              0
929    99.997884         1   27          0           0              0
1697  100.516307         0    1          0           1              1
1010   98.043172         0   33          0          -1              0
25    100.426707         1    2          1           0              0
...          ...       ...  ...        ...         ...            ...
1638   98.024686         0   65          1           0              0
1095   98.855343         0   55          0           1              1
1130  101.049911         0   21          0          -1              0
1294  101.253533         0   27          0          -1              0
860    99.443440         0   39          0          -1              0

[2078 rows x 6 columns]

In [13]:
test

           fever  bodypain  age  runnynose  diffbreath  infectionprob
211   100.095256         0    7          0          -1              1
2123  100.093299         1    8          0           1              0
1741  100.874029         0   48          0           1              0
1761   98.906819         1   66          1           0              0
902   100.476845         0    4          1           0              0
...          ...       ...  ...        ...         ...            ...
945   100.386712         1   49          1           0              1
49     99.646247         1   53          1          -1              1
1299   98.084742         1   62          0          -1              0
1114   99.828543         1   56          0          -1              0
48    100.055619         0   11          0           0              1

[519 rows x 6 columns]

In [14]:
X_train = train[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()
X_test = test[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()

In [15]:
Y_train = train[['infectionprob']].to_numpy().reshape(2078,)
Y_test = test[['infectionprob']].to_numpy().reshape(519,)

In [16]:
Y_train

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf= LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [19]:
inputFeatures = [102,1,22,-1,1]
infprob = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infprob

0.5009518832566697